---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import CakeGallery from '../components/CakeGallery';
import About from '../components/About';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
---

<Layout title="Chocolate Banana Paradise - Beautifully crafted cakes">
	<Header client:load />
	<main>
		<Hero client:load />
		<CakeGallery client:load />
		<About client:load />
		<Contact client:load />
	</main>
	<Footer client:load />
</Layout>
